/* General Page Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b4e63e;
}

/* Navbar */
.navbar {
    background: #333;
    color: rgb(236, 227, 223);
    padding: 15px 0;
    text-align: center;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: rgb(170, 206, 160);
    text-decoration: none;
    font-size: 16px;
}

/* Container */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: rgb(9, 171, 192);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

/* Message Alerts */
.message {
    background: #d4edda;
    color: #07641d;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid #050505;
    text-align: left;
}

th {
    background: #333;
    color: white;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

button {
    background: #333;
    color: rgb(22, 19, 19);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #555;
}

/* Footer */
.footer {
    background: #333;
    color: rgb(171, 216, 218);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    width: 100%;
}
